<!DOCTYPE html>
{% load static %}
{% load humanize %}

<html>
  <head>
    <title>Schedule Conflict Checker</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/xlsx.full.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="{% static 'js/schedule.js' %}"></script>
    <link rel="stylesheet" type='text/css' media='screen' href="{% static 'css/scheduler_style.css' %}">
  </head>


  <body style="margin: 0px;">
    <!-- Austin -->   
    <div class="header">
      <div class="university-title">
        University of Alaska Anchorage
      </div>
      <div class="header-title">
        Course Scheduler
      </div>
      <div class="profile-section">
        <div class="profile-image">
          <img src="{% static 'images/profile-image.png' %}" alt="Profile Image">
        </div>
        <div class="profile-name">
          Temporary Profile Name
        </div>
      </div>
      <div class="dark-mode-container">
        <div class="light-text-container">
          <div class="light-text">Light Mode</div>
        </div>
        <div class="dark-mode-toggle">
          <div class="toggle-slider"></div>
        </div>
        <div class="light-text-container">
          <div class="dark-text">Dark Mode</div>
        </div>
      </div>
    </div>
    
    <div class="search-container">
      <div class="select-wrapper-term">
        <select id="semester-select" class="dropdown-toggle">
          <optgroup label="Select Term">
            <option value="" selected disabled hidden>Term</option>
            <option value="202303" class="fillSelect">Fall 2023</option>
            <option value="202302" class="fillSelect">Summer 2023</option>
            <option value="202301" class="fillSelect">Spring 2023</option>
            <option value="202203" class="fillSelect">Fall 2022</option>
            <option value="202202" class="fillSelect">Summer 2022</option>
            <option value="202201" class="fillSelect">Spring 2022</option>
          </optgroup>
        </select>
        <span class="dropdown-arrow"></span>
      </div>
    
      <div class="select-wrapper">
        <div class="dropdown-toggle-wrapper">
          <button id="major-dropdown-toggle" class="dropdown-toggle">Select Major...</button>
          <span class="dropdown-arrow"></span>
        </div>
        <div class="dropdown-wrapper">
          <select id="major-dropdown" class="dropdown" multiple>
            {% with sorted_data=degree_major_data|dictsort:'major' %}
              {% for item in sorted_data %}
                <option>{{ item.degree }} - {{ item.major }}</option>
              {% endfor %}
            {% endwith %}
          </select>       
        </div>
        <div id="selected-majors"></div>
      </div>
      
      <div class="select-wrapper">
        <div class="dropdown-toggle-wrapper">
          <button id="subject-dropdown-toggle" class="dropdown-toggle">Select Subject...</button>
          <span class="dropdown-arrow"></span>
        </div>
        <div class="dropdown-wrapper">
          <select id="subject-dropdown" class="dropdown" multiple>
            {% for item in subject_data %}
            <option>{{ item.subj }} - {{ item.subject }}</option>
            {% endfor %}
          </select>
        </div>
        <div id="selected-subjects"></div>
      </div>
      
      <!-- <div class="select-wrapper">
        <select id="subject-dropdown" class="dropdown-toggle">
          <option value="" selected disabled hidden>Select Subject...</option>
          {% for item in subject_data %}
          <option>{{ item.subj }} - {{ item.subject }}</option>
          {% endfor %}
        </select>
        <span class="dropdown-arrow"></span>
        <div id="selected-subjects"></div>
      </div> -->

      
      <button id="search-btn" class="search-btn">Search</button>
      <div id="OR"> OR </div>
      <div class="upload-btn-wrapper">
        <button class="upload-btn" onclick="document.querySelector('input[type=file]').click()">Upload Excel</button>
        <input type="file" accept=".xlsx" name="myfile" id="file-input" style="display:none" onchange="handleFileSelect(event)">
      </div>
      <div id="loading-search-container" class="loading-container">
        <div class="spinner"></div>
        <div id="loading-text">Scraping data, will take a few seconds...</div>
      </div>
    </div>

    <!-- Advanced Filtering -->
    <div class="filtering-container">
      <div id="advanced-filtering-content" style="display: none;">
        <form onsubmit="return false;">
          <div class="advanced-filtering-container">
            <div class="filtering-schedule-conflict-container ">
              <div class="conflict-filtering">
                <h2>Conflict Filtering</h2>
                <div class="individual-class-conflicts">
                  <h3>Specify individual course conflicts</h3>
                  <div class="individual-class-conflict-selection">
                    <input type="text" id="conflict-1" name="conflict-1" placeholder="Course 1" list="course-suggestion" oninput="if (this.value=='Format: CSCE A101') {this.value='CSCE A101'}"/>
                    <input type="text" id="conflict-2" name="conflict-2" placeholder="Course 2" list="course-suggestion" oninput="if (this.value=='Format: CSCE A101') {this.value='CSCE A101'}"/>
                    <button class="add-button" id="add-individual-class-conflict">Add</button>
                    <datalist id="course-suggestion">
                      <option value="Format: CSCE A101"></option>
                    </datalist>
                  </datalist>
                  </div>
                  <div id="entered-individual-course-conflict"></div>
                </div>

                <div class="range-class-conflicts">
                  <h3>Specify conflicts within course ranges</h3>
                  <div class="range-class-conflict-selection">
                    <input type="text" id="range-subject" name="range-subject" placeholder="Subject" list="subj-suggestion" oninput="if (this.value=='Format: CSCE') {this.value='CSCE'}"/>
                    <input type="text" id="range-start" name="range-start" placeholder="Start" list="crs-lower-suggestion" oninput="if (this.value=='Format: A300') {this.value='A300'}"/>
                    <input type="text" id="range-end" name="range-end" placeholder="End" list="crs-higher-suggestion" oninput="if (this.value=='Format: A699') {this.value='A699'}"/>
                    <datalist id="subj-suggestion">
                      <option value="Format: CSCE">
                    </datalist>
                    <datalist id="crs-lower-suggestion">
                      <option value="Format: A300">
                    </datalist>
                    <datalist id="crs-higher-suggestion">
                      <option value="Format: A699">
                    </datalist>
                    <button class="add-button" id="add-range-class-conflict">Add</button>
                  </div>
                  <div id="entered-range-course-conflict"></div>
                </div>             

                <div class="ignore-container">
                  <div class="ignore-subjects">
                    <h3>Ignore conflicts for subjects</h3>
                    <div class="ignore-subject-selection">
                      <input type="text" id="ignore-subject" name="ignore-subject" placeholder="Subject" list="ignore-subj-suggestion" oninput="if (this.value=='Format: WRTG') {this.value='WRTG'}"/>
                      <datalist id="ignore-subj-suggestion">
                        <option value="Format: WRTG">
                      </datalist>
                      <button class="add-button" id="add-ignore-subject">Add</button>
                    </div>
                    <div id="entered-ignore-subjects"></div>
                  </div>
                  <div class="ignore-classes">
                    <h3>Ignore conflicts for courses</h3>
                    <div class="ignore-class-selection">
                      <input type="text" id="ignore-class" name="ignore-class" placeholder="Course" list="ignore-course-suggestion" oninput="if (this.value=='Format: WRTG A111') {this.value='WRTG A111'}"/>
                      <datalist id="ignore-course-suggestion">
                        <option value="Format: WRTG A111">
                      </datalist>
                      <button class="add-button" id="add-ignore-class">Add</button>
                    </div>
                    <div id="entered-ignore-classes"></div>
                  </div>
                </div>

              </div>
              <div class="schedule-filtering">
                <h2>Calendar Filtering</h2>

                <div class="select-wrapper" id="instructor-select-wrapper">
                  <h3>Select instructors to display</h3>
                  <div class="dropdown-toggle-wrapper" id="instructor-dropdown-toggle-wrapper">
                    <button id="instructor-dropdown-toggle" class="dropdown-toggle">Select Instructor...</button>
                    <span class="dropdown-arrow" id="instructor-dropdown-arrow"></span>
                  </div>
                  <div class="dropdown-wrapper">
                    <select id="instructor-dropdown" class="dropdown" multiple>
                    </select>
                  </div>
                  <div id="selected-instructors"></div>
                </div>
                
                <div id="bldg-room-select-header">
                  <div id="bldg-header">
                    <h3>Select buildings to display</h3>
                  </div>
                  <div id="room-header">
                    <h3>Select rooms to display</h3>
                  </div>
                </div>

                <div class="select-wrapper" id="bldg-room-select-wrapper">
                  <div class="dropdown-toggle-wrapper" id="bldg-dropdown-toggle-wrapper">
                    <button id="bldg-dropdown-toggle" class="dropdown-toggle">Select Building...</button>
                    <span class="dropdown-arrow" id="bldg-dropdown-arrow"></span>
                    <div class="dropdown-wrapper">
                      <select id="bldg-dropdown" class="dropdown" multiple></select>
                    </div>
                  </div>
                  <div class="dropdown-toggle-wrapper" id="room-dropdown-toggle-wrapper">
                    <button id="room-dropdown-toggle" class="dropdown-toggle">Select Room...</button>
                    <span class="dropdown-arrow" id="room-dropdown-arrow"></span>
                    <div class="dropdown-wrapper">
                      <select id="room-dropdown" class="dropdown" multiple></select>
                    </div>
                  </div>
                </div>
                <div id="selected-items"></div>              

                <div class="hide-container">
                  <div class="hide-subjects">
                    <h3>Hide subjects from calendar</h3>
                    <div class="hide-subject-selection">
                      <input type="text" id="hidden-subject" name="hidden-subject" placeholder="Subject" list="hide-subj-suggestion" oninput="if (this.value=='Format: WRTG') {this.value='WRTG'}"/>
                      <datalist id="hide-subj-suggestion">
                        <option value="Format: WRTG">
                      </datalist>
                      <button class="add-button" id="add-hide-subject">Add</button>
                    </div>
                    <div id="entered-hide-subjects"></div>
                  </div>
                
                  <div class="hide-classes">
                    <h3>Hide courses from calendar</h3>
                    <div class="hide-class-selection">
                      <input type="text" id="hidden-class" name="hidden-class" placeholder="Course" list="hide-course-suggestion" oninput="if (this.value=='Format: WRTG A111') {this.value='WRTG A111'}"/>
                      <datalist id="hide-course-suggestion">
                        <option value="Format: WRTG A111">
                      </datalist>
                      <button class="add-button" id="add-hide-class">Add</button>
                    </div>
                    <div id="entered-hide-classes"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="apply-filter-container">
              <button id="apply-filter">Filter</button>
            </div>
          </form>
        </div>
        <div id="loading-filtering-container" class="loading-container">
          <div class="spinner"></div>
          <div id="loading-text">Filtering...</div>
        </div>
      </div>
    </div>
    <div class="toggle-advanced-filtering-indent" id="toggle-advanced-filtering">
      <div class="advanced-filtering-text">Advanced Filtering</div>
      <span class="filter-dropdown-arrow"></span>
    </div>

    <!-- Austin -->
    <!-- John -->
  <!-- data-Day may need to change to a M,T,W,TH format-->
  <div class="main-container"> 
    <div class="schedule-container">
      <div class="schedule-grid">
        <div class="days-row">
          <div class="blank"></div>
          <div class="days"><h2>Monday</h2></div>
          <div class="days"><h2>Tuesday</h2></div>
          <div class="days"><h2>Wednesday</h2></div>
          <div class="days"><h2>Thursday</h2></div>
          <div class="days"><h2>Friday</h2></div>
          <!-- <div class="days">Saturday</div>
          <div class="days">Sunday</div> -->
        </div>
        <div class="grid-row">
          <div class="times">8<sup>am</sup></div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="M" data-time="0800"></div>
            <div class = "time-cell" data-day="M" data-time="0815"></div>
            <div class = "time-cell" data-day="M" data-time="0830"></div>
            <div class = "time-cell" data-day="M" data-time="0845"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="T" data-time="0800"></div>
            <div class = "time-cell" data-day="T" data-time="0815"></div>
            <div class = "time-cell" data-day="T" data-time="0830"></div>
            <div class = "time-cell" data-day="T" data-time="0845"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="W" data-time="0800"></div>
            <div class = "time-cell" data-day="W" data-time="0815"></div>
            <div class = "time-cell" data-day="W" data-time="0830"></div>
            <div class = "time-cell" data-day="W" data-time="0845"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="R" data-time="0800"></div>
            <div class = "time-cell" data-day="R" data-time="0815"></div>
            <div class = "time-cell" data-day="R" data-time="0830"></div>
            <div class = "time-cell" data-day="R" data-time="0845"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="F" data-time="0800"></div>
            <div class = "time-cell" data-day="F" data-time="0815"></div>
            <div class = "time-cell" data-day="F" data-time="0830"></div>
            <div class = "time-cell" data-day="F" data-time="0845"></div>
          </div>
          <!-- <div class="grid-cell">
            <div class = "time-cell" data-day="SA" data-time="0800"></div>
            <div class = "time-cell" data-day="SA" data-time="0815"></div>
            <div class = "time-cell" data-day="SA" data-time="0830"></div>
            <div class = "time-cell" data-day="SA" data-time="0845"></div>
            <div class = "time-cell" data-day="SA" data-time="0900"></div>
            <div class = "time-cell" data-day="SA" data-time="0915"></div>
            <div class = "time-cell" data-day="SA" data-time="0930"></div>
            <div class = "time-cell" data-day="SA" data-time="0945"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="SU" data-time="0800"></div>
            <div class = "time-cell" data-day="SU" data-time="0815"></div>
            <div class = "time-cell" data-day="SU" data-time="0830"></div>
            <div class = "time-cell" data-day="SU" data-time="0845"></div>
            <div class = "time-cell" data-day="SU" data-time="0900"></div>
            <div class = "time-cell" data-day="SU" data-time="0915"></div>
            <div class = "time-cell" data-day="SU" data-time="0930"></div>
            <div class = "time-cell" data-day="SU" data-time="0945"></div>
          </div> -->
        </div>
        <div class="grid-row">
          <div class="times">9<sup>am</sup></div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="M" data-time="0900"></div>
            <div class = "time-cell" data-day="M" data-time="0915"></div>
            <div class = "time-cell" data-day="M" data-time="0930"></div>
            <div class = "time-cell" data-day="M" data-time="0945"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="T" data-time="0900"></div>
            <div class = "time-cell" data-day="T" data-time="0915"></div>
            <div class = "time-cell" data-day="T" data-time="0930"></div>
            <div class = "time-cell" data-day="T" data-time="0945"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="W" data-time="0900"></div>
            <div class = "time-cell" data-day="W" data-time="0915"></div>
            <div class = "time-cell" data-day="W" data-time="0930"></div>
            <div class = "time-cell" data-day="W" data-time="0945"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="R" data-time="0900"></div>
            <div class = "time-cell" data-day="R" data-time="0915"></div>
            <div class = "time-cell" data-day="R" data-time="0930"></div>
            <div class = "time-cell" data-day="R" data-time="0945"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="F" data-time="0900"></div>
            <div class = "time-cell" data-day="F" data-time="0915"></div>
            <div class = "time-cell" data-day="F" data-time="0930"></div>
            <div class = "time-cell" data-day="F" data-time="0945"></div>
          </div>
          <!-- <div class="grid-cell">
            <div class = "time-cell" data-day="SA" data-time="1000"></div>
            <div class = "time-cell" data-day="SA" data-time="1015"></div>
            <div class = "time-cell" data-day="SA" data-time="1030"></div>
            <div class = "time-cell" data-day="SA" data-time="1045"></div>
            <div class = "time-cell" data-day="SA" data-time="1100"></div>
            <div class = "time-cell" data-day="SA" data-time="1115"></div>
            <div class = "time-cell" data-day="SA" data-time="1130"></div>
            <div class = "time-cell" data-day="SA" data-time="1145"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="SU" data-time="1000"></div>
            <div class = "time-cell" data-day="SU" data-time="1015"></div>
            <div class = "time-cell" data-day="SU" data-time="1030"></div>
            <div class = "time-cell" data-day="SU" data-time="1045"></div>
            <div class = "time-cell" data-day="SU" data-time="1100"></div>
            <div class = "time-cell" data-day="SU" data-time="1115"></div>
            <div class = "time-cell" data-day="SU" data-time="1130"></div>
            <div class = "time-cell" data-day="SU" data-time="1145"></div>
          </div> -->
        </div>
        <div class="grid-row">
          <div class="times">10<sup>am</sup></div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="M" data-time="1000"></div>
            <div class = "time-cell" data-day="M" data-time="1015"></div>
            <div class = "time-cell" data-day="M" data-time="1030"></div>
            <div class = "time-cell" data-day="M" data-time="1045"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="T" data-time="1000"></div>
            <div class = "time-cell" data-day="T" data-time="1015"></div>
            <div class = "time-cell" data-day="T" data-time="1030"></div>
            <div class = "time-cell" data-day="T" data-time="1045"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="W" data-time="1000"></div>
            <div class = "time-cell" data-day="W" data-time="1015"></div>
            <div class = "time-cell" data-day="W" data-time="1030"></div>
            <div class = "time-cell" data-day="W" data-time="1045"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="R" data-time="1000"></div>
            <div class = "time-cell" data-day="R" data-time="1015"></div>
            <div class = "time-cell" data-day="R" data-time="1030"></div>
            <div class = "time-cell" data-day="R" data-time="1045"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="F" data-time="1000"></div>
            <div class = "time-cell" data-day="F" data-time="1015"></div>
            <div class = "time-cell" data-day="F" data-time="1030"></div>
            <div class = "time-cell" data-day="F" data-time="1045"></div>
          </div>
          <!-- <div class="grid-cell">
            <div class = "time-cell" data-day="SA" data-time="1200"></div>
            <div class = "time-cell" data-day="SA" data-time="1215"></div>
            <div class = "time-cell" data-day="SA" data-time="1230"></div>
            <div class = "time-cell" data-day="SA" data-time="1245"></div>
            <div class = "time-cell" data-day="SA" data-time="1300"></div>
            <div class = "time-cell" data-day="SA" data-time="1315"></div>
            <div class = "time-cell" data-day="SA" data-time="1330"></div>
            <div class = "time-cell" data-day="SA" data-time="1345"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="SU" data-time="1200"></div>
            <div class = "time-cell" data-day="SU" data-time="1215"></div>
            <div class = "time-cell" data-day="SU" data-time="1230"></div>
            <div class = "time-cell" data-day="SU" data-time="1245"></div>
            <div class = "time-cell" data-day="SU" data-time="1300"></div>
            <div class = "time-cell" data-day="SU" data-time="1315"></div>
            <div class = "time-cell" data-day="SU" data-time="1330"></div>
            <div class = "time-cell" data-day="SU" data-time="1345"></div>
          </div> -->
        </div>
        <div class="grid-row">
          <div class="times">11<sup>am</sup></div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="M" data-time="1100"></div>
            <div class = "time-cell" data-day="M" data-time="1115"></div>
            <div class = "time-cell" data-day="M" data-time="1130"></div>
            <div class = "time-cell" data-day="M" data-time="1145"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="T" data-time="1100"></div>
            <div class = "time-cell" data-day="T" data-time="1115"></div>
            <div class = "time-cell" data-day="T" data-time="1130"></div>
            <div class = "time-cell" data-day="T" data-time="1145"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="W" data-time="1100"></div>
            <div class = "time-cell" data-day="W" data-time="1115"></div>
            <div class = "time-cell" data-day="W" data-time="1130"></div>
            <div class = "time-cell" data-day="W" data-time="1145"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="R" data-time="1100"></div>
            <div class = "time-cell" data-day="R" data-time="1115"></div>
            <div class = "time-cell" data-day="R" data-time="1130"></div>
            <div class = "time-cell" data-day="R" data-time="1145"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="F" data-time="1100"></div>
            <div class = "time-cell" data-day="F" data-time="1115"></div>
            <div class = "time-cell" data-day="F" data-time="1130"></div>
            <div class = "time-cell" data-day="F" data-time="1145"></div>
          </div>
          <!-- <div class="grid-cell">
            <div class = "time-cell" data-day="SA" data-time="1400"></div>
            <div class = "time-cell" data-day="SA" data-time="1415"></div>
            <div class = "time-cell" data-day="SA" data-time="1430"></div>
            <div class = "time-cell" data-day="SA" data-time="1445"></div>
            <div class = "time-cell" data-day="SA" data-time="1500"></div>
            <div class = "time-cell" data-day="SA" data-time="1515"></div>
            <div class = "time-cell" data-day="SA" data-time="1530"></div>
            <div class = "time-cell" data-day="SA" data-time="1545"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="SU" data-time="1400"></div>
            <div class = "time-cell" data-day="SU" data-time="1415"></div>
            <div class = "time-cell" data-day="SU" data-time="1430"></div>
            <div class = "time-cell" data-day="SU" data-time="1445"></div>
            <div class = "time-cell" data-day="SU" data-time="1500"></div>
            <div class = "time-cell" data-day="SU" data-time="1515"></div>
            <div class = "time-cell" data-day="SU" data-time="1530"></div>
            <div class = "time-cell" data-day="SU" data-time="1545"></div>
          </div> -->
        </div>
        <div class="grid-row">
          <div class="times">12<sup>pm</sup></div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="M" data-time="1200"></div>
            <div class = "time-cell" data-day="M" data-time="1215"></div>
            <div class = "time-cell" data-day="M" data-time="1230"></div>
            <div class = "time-cell" data-day="M" data-time="1245"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="T" data-time="1200"></div>
            <div class = "time-cell" data-day="T" data-time="1215"></div>
            <div class = "time-cell" data-day="T" data-time="1230"></div>
            <div class = "time-cell" data-day="T" data-time="1245"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="W" data-time="1200"></div>
            <div class = "time-cell" data-day="W" data-time="1215"></div>
            <div class = "time-cell" data-day="W" data-time="1230"></div>
            <div class = "time-cell" data-day="W" data-time="1245"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="R" data-time="1200"></div>
            <div class = "time-cell" data-day="R" data-time="1215"></div>
            <div class = "time-cell" data-day="R" data-time="1230"></div>
            <div class = "time-cell" data-day="R" data-time="1245"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="F" data-time="1200"></div>
            <div class = "time-cell" data-day="F" data-time="1215"></div>
            <div class = "time-cell" data-day="F" data-time="1230"></div>
            <div class = "time-cell" data-day="F" data-time="1245"></div>
          </div>
          <!-- <div class="grid-cell">
            <div class = "time-cell" data-day="SA" data-time="1600"></div>
            <div class = "time-cell" data-day="SA" data-time="1615"></div>
            <div class = "time-cell" data-day="SA" data-time="1630"></div>
            <div class = "time-cell" data-day="SA" data-time="1645"></div>
            <div class = "time-cell" data-day="SA" data-time="1700"></div>
            <div class = "time-cell" data-day="SA" data-time="1715"></div>
            <div class = "time-cell" data-day="SA" data-time="1730"></div>
            <div class = "time-cell" data-day="SA" data-time="1745"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="SU" data-time="1600"></div>
            <div class = "time-cell" data-day="SU" data-time="1615"></div>
            <div class = "time-cell" data-day="SU" data-time="1630"></div>
            <div class = "time-cell" data-day="SU" data-time="1645"></div>
            <div class = "time-cell" data-day="SU" data-time="1700"></div>
            <div class = "time-cell" data-day="SU" data-time="1715"></div>
            <div class = "time-cell" data-day="SU" data-time="1730"></div>
            <div class = "time-cell" data-day="SU" data-time="1745"></div>
          </div> -->
        </div>
        <div class="grid-row">
          <div class="times">1<sup>pm</sup></div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="M" data-time="1300"></div>
            <div class = "time-cell" data-day="M" data-time="1315"></div>
            <div class = "time-cell" data-day="M" data-time="1330"></div>
            <div class = "time-cell" data-day="M" data-time="1345"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="T" data-time="1300"></div>
            <div class = "time-cell" data-day="T" data-time="1315"></div>
            <div class = "time-cell" data-day="T" data-time="1330"></div>
            <div class = "time-cell" data-day="T" data-time="1345"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="W" data-time="1300"></div>
            <div class = "time-cell" data-day="W" data-time="1315"></div>
            <div class = "time-cell" data-day="W" data-time="1330"></div>
            <div class = "time-cell" data-day="W" data-time="1345"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="R" data-time="1300"></div>
            <div class = "time-cell" data-day="R" data-time="1315"></div>
            <div class = "time-cell" data-day="R" data-time="1330"></div>
            <div class = "time-cell" data-day="R" data-time="1345"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="F" data-time="1300"></div>
            <div class = "time-cell" data-day="F" data-time="1315"></div>
            <div class = "time-cell" data-day="F" data-time="1330"></div>
            <div class = "time-cell" data-day="F" data-time="1345"></div>
          </div>
          <!-- <div class="grid-cell">
            <div class = "time-cell" data-day="SA" data-time="1800"></div>
            <div class = "time-cell" data-day="SA" data-time="1815"></div>
            <div class = "time-cell" data-day="SA" data-time="1830"></div>
            <div class = "time-cell" data-day="SA" data-time="1845"></div>
            <div class = "time-cell" data-day="SA" data-time="1900"></div>
            <div class = "time-cell" data-day="SA" data-time="1915"></div>
            <div class = "time-cell" data-day="SA" data-time="1930"></div>
            <div class = "time-cell" data-day="SA" data-time="1945"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="SU" data-time="1800"></div>
            <div class = "time-cell" data-day="SU" data-time="1815"></div>
            <div class = "time-cell" data-day="SU" data-time="1830"></div>
            <div class = "time-cell" data-day="SU" data-time="1845"></div>
            <div class = "time-cell" data-day="SU" data-time="1900"></div>
            <div class = "time-cell" data-day="SU" data-time="1915"></div>
            <div class = "time-cell" data-day="SU" data-time="1930"></div>
            <div class = "time-cell" data-day="SU" data-time="1945"></div>
          </div> -->
        </div>
        <div class="grid-row">
          <div class="times">2<sup>pm</sup></div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="M" data-time="1400"></div>
            <div class = "time-cell" data-day="M" data-time="1415"></div>
            <div class = "time-cell" data-day="M" data-time="1430"></div>
            <div class = "time-cell" data-day="M" data-time="1445"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="T" data-time="1400"></div>
            <div class = "time-cell" data-day="T" data-time="1415"></div>
            <div class = "time-cell" data-day="T" data-time="1430"></div>
            <div class = "time-cell" data-day="T" data-time="1445"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="W" data-time="1400"></div>
            <div class = "time-cell" data-day="W" data-time="1415"></div>
            <div class = "time-cell" data-day="W" data-time="1430"></div>
            <div class = "time-cell" data-day="W" data-time="1445"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="R" data-time="1400"></div>
            <div class = "time-cell" data-day="R" data-time="1415"></div>
            <div class = "time-cell" data-day="R" data-time="1430"></div>
            <div class = "time-cell" data-day="R" data-time="1445"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="F" data-time="1400"></div>
            <div class = "time-cell" data-day="F" data-time="1415"></div>
            <div class = "time-cell" data-day="F" data-time="1430"></div>
            <div class = "time-cell" data-day="F" data-time="1445"></div>
          </div>
          <!-- <div class="grid-cell">
            <div class = "time-cell" data-day="SA" data-time="1800"></div>
            <div class = "time-cell" data-day="SA" data-time="1815"></div>
            <div class = "time-cell" data-day="SA" data-time="1830"></div>
            <div class = "time-cell" data-day="SA" data-time="1845"></div>
            <div class = "time-cell" data-day="SA" data-time="1900"></div>
            <div class = "time-cell" data-day="SA" data-time="1915"></div>
            <div class = "time-cell" data-day="SA" data-time="1930"></div>
            <div class = "time-cell" data-day="SA" data-time="1945"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="SU" data-time="1800"></div>
            <div class = "time-cell" data-day="SU" data-time="1815"></div>
            <div class = "time-cell" data-day="SU" data-time="1830"></div>
            <div class = "time-cell" data-day="SU" data-time="1845"></div>
            <div class = "time-cell" data-day="SU" data-time="1900"></div>
            <div class = "time-cell" data-day="SU" data-time="1915"></div>
            <div class = "time-cell" data-day="SU" data-time="1930"></div>
            <div class = "time-cell" data-day="SU" data-time="1945"></div>
          </div> -->
        </div>
        <div class="grid-row">
          <div class="times">3<sup>pm</sup></div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="M" data-time="1500"></div>
            <div class = "time-cell" data-day="M" data-time="1515"></div>
            <div class = "time-cell" data-day="M" data-time="1530"></div>
            <div class = "time-cell" data-day="M" data-time="1545"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="T" data-time="1500"></div>
            <div class = "time-cell" data-day="T" data-time="1515"></div>
            <div class = "time-cell" data-day="T" data-time="1530"></div>
            <div class = "time-cell" data-day="T" data-time="1545"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="W" data-time="1500"></div>
            <div class = "time-cell" data-day="W" data-time="1515"></div>
            <div class = "time-cell" data-day="W" data-time="1530"></div>
            <div class = "time-cell" data-day="W" data-time="1545"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="R" data-time="1500"></div>
            <div class = "time-cell" data-day="R" data-time="1515"></div>
            <div class = "time-cell" data-day="R" data-time="1530"></div>
            <div class = "time-cell" data-day="R" data-time="1545"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="F" data-time="1500"></div>
            <div class = "time-cell" data-day="F" data-time="1515"></div>
            <div class = "time-cell" data-day="F" data-time="1530"></div>
            <div class = "time-cell" data-day="F" data-time="1545"></div>
          </div>
          <!-- <div class="grid-cell">
            <div class = "time-cell" data-day="SA" data-time="1800"></div>
            <div class = "time-cell" data-day="SA" data-time="1815"></div>
            <div class = "time-cell" data-day="SA" data-time="1830"></div>
            <div class = "time-cell" data-day="SA" data-time="1845"></div>
            <div class = "time-cell" data-day="SA" data-time="1900"></div>
            <div class = "time-cell" data-day="SA" data-time="1915"></div>
            <div class = "time-cell" data-day="SA" data-time="1930"></div>
            <div class = "time-cell" data-day="SA" data-time="1945"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="SU" data-time="1800"></div>
            <div class = "time-cell" data-day="SU" data-time="1815"></div>
            <div class = "time-cell" data-day="SU" data-time="1830"></div>
            <div class = "time-cell" data-day="SU" data-time="1845"></div>
            <div class = "time-cell" data-day="SU" data-time="1900"></div>
            <div class = "time-cell" data-day="SU" data-time="1915"></div>
            <div class = "time-cell" data-day="SU" data-time="1930"></div>
            <div class = "time-cell" data-day="SU" data-time="1945"></div>
          </div> -->
        </div>
        <div class="grid-row">
          <div class="times">4<sup>pm</sup></div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="M" data-time="1600"></div>
            <div class = "time-cell" data-day="M" data-time="1615"></div>
            <div class = "time-cell" data-day="M" data-time="1630"></div>
            <div class = "time-cell" data-day="M" data-time="1645"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="T" data-time="1600"></div>
            <div class = "time-cell" data-day="T" data-time="1615"></div>
            <div class = "time-cell" data-day="T" data-time="1630"></div>
            <div class = "time-cell" data-day="T" data-time="1645"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="W" data-time="1600"></div>
            <div class = "time-cell" data-day="W" data-time="1615"></div>
            <div class = "time-cell" data-day="W" data-time="1630"></div>
            <div class = "time-cell" data-day="W" data-time="1645"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="R" data-time="1600"></div>
            <div class = "time-cell" data-day="R" data-time="1615"></div>
            <div class = "time-cell" data-day="R" data-time="1630"></div>
            <div class = "time-cell" data-day="R" data-time="1645"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="F" data-time="1600"></div>
            <div class = "time-cell" data-day="F" data-time="1615"></div>
            <div class = "time-cell" data-day="F" data-time="1630"></div>
            <div class = "time-cell" data-day="F" data-time="1645"></div>
          </div>
          <!-- <div class="grid-cell">
            <div class = "time-cell" data-day="SA" data-time="1800"></div>
            <div class = "time-cell" data-day="SA" data-time="1815"></div>
            <div class = "time-cell" data-day="SA" data-time="1830"></div>
            <div class = "time-cell" data-day="SA" data-time="1845"></div>
            <div class = "time-cell" data-day="SA" data-time="1900"></div>
            <div class = "time-cell" data-day="SA" data-time="1915"></div>
            <div class = "time-cell" data-day="SA" data-time="1930"></div>
            <div class = "time-cell" data-day="SA" data-time="1945"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="SU" data-time="1800"></div>
            <div class = "time-cell" data-day="SU" data-time="1815"></div>
            <div class = "time-cell" data-day="SU" data-time="1830"></div>
            <div class = "time-cell" data-day="SU" data-time="1845"></div>
            <div class = "time-cell" data-day="SU" data-time="1900"></div>
            <div class = "time-cell" data-day="SU" data-time="1915"></div>
            <div class = "time-cell" data-day="SU" data-time="1930"></div>
            <div class = "time-cell" data-day="SU" data-time="1945"></div>
          </div> -->
        </div>
        <div class="grid-row">
          <div class="times">5<sup>pm</sup></div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="M" data-time="1700"></div>
            <div class = "time-cell" data-day="M" data-time="1715"></div>
            <div class = "time-cell" data-day="M" data-time="1730"></div>
            <div class = "time-cell" data-day="M" data-time="1745"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="T" data-time="1700"></div>
            <div class = "time-cell" data-day="T" data-time="1715"></div>
            <div class = "time-cell" data-day="T" data-time="1730"></div>
            <div class = "time-cell" data-day="T" data-time="1745"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="W" data-time="1700"></div>
            <div class = "time-cell" data-day="W" data-time="1715"></div>
            <div class = "time-cell" data-day="W" data-time="1730"></div>
            <div class = "time-cell" data-day="W" data-time="1745"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="R" data-time="1700"></div>
            <div class = "time-cell" data-day="R" data-time="1715"></div>
            <div class = "time-cell" data-day="R" data-time="1730"></div>
            <div class = "time-cell" data-day="R" data-time="1745"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="F" data-time="1700"></div>
            <div class = "time-cell" data-day="F" data-time="1715"></div>
            <div class = "time-cell" data-day="F" data-time="1730"></div>
            <div class = "time-cell" data-day="F" data-time="1745"></div>
          </div>
          <!-- <div class="grid-cell">
            <div class = "time-cell" data-day="SA" data-time="1800"></div>
            <div class = "time-cell" data-day="SA" data-time="1815"></div>
            <div class = "time-cell" data-day="SA" data-time="1830"></div>
            <div class = "time-cell" data-day="SA" data-time="1845"></div>
            <div class = "time-cell" data-day="SA" data-time="1900"></div>
            <div class = "time-cell" data-day="SA" data-time="1915"></div>
            <div class = "time-cell" data-day="SA" data-time="1930"></div>
            <div class = "time-cell" data-day="SA" data-time="1945"></div>
          </div>
          <div class="grid-cell">
            <div class = "time-cell" data-day="SU" data-time="1800"></div>
            <div class = "time-cell" data-day="SU" data-time="1815"></div>
            <div class = "time-cell" data-day="SU" data-time="1830"></div>
            <div class = "time-cell" data-day="SU" data-time="1845"></div>
            <div class = "time-cell" data-day="SU" data-time="1900"></div>
            <div class = "time-cell" data-day="SU" data-time="1915"></div>
            <div class = "time-cell" data-day="SU" data-time="1930"></div>
            <div class = "time-cell" data-day="SU" data-time="1945"></div>
          </div> -->
        </div>
      </div>
    </div>

    <!-- displaying conflicts -->
    <div id="conflict-container">
      <div id="conflict-header">
        <h2>Detected Conflicts:</h2>
      </div>
    </div>
    <div id="temp-conflict-container">
    </div>
</div>
<!-- displaying asychronous online courses-->
<div class="online-courses">
  <div class="online-courses-header">
    <h2>Online / Asynchronous Courses</h2>
    <button class="toggle-online-courses-button" onclick="toggleOnlineCourses()">Show</button>
  </div>
  <div class="course-tiles"></div>
</div>


</html>

