:root {
  --background-color: #FFFFFF;
  --black-text-color: #000000;
  --grey-text-color: #757575;
  --white-text-color: white;
  --grey-background-color: #dfdfdf;
  --lightgrey-background-color: #f4f4f4;
  --grey-text-color: grey;
  --header-background-color: #004895;
  --grey-border-color: #c3c3c3;
  --submit-button-color: green;
  --submit-button-hover-color: darkgreen;
  --add-button-blue-color: #0077cc;
  --hover-dropdown-option: #007bff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --conflict-hover-color: #acb3ff;
  --dropdown-blue-color: rgb(0, 60, 255);
  --splinner-blue-color: rgba(0, 38, 255, 0.352);
  --loading-background-color: rgba(133, 133, 133, 0.441);
  --remove-item-hover: #383f475d;
  --selected-item-text-color: #383f47;
  --red-border-color: rgb(201, 0, 0);
  --red-background-color: rgb(255, 105, 105);
  --purple-background-color: #d28cd2;
}  


/* Dark mode styles */
body.dark-mode {
  --background-color: #272727; /* dark mode background color */
  --black-text-color: #FFFFFF; /* default dark mode text color */
  --grey-text-color: #858585;
  --white-text-color: #FFFFFF; /* default button text color */
  --grey-background-color: #111111;
  --lightgrey-background-color: #3C3C3C;
  --header-background-color: #004895;
  --grey-border-color: #6B6B6B;
  --submit-button-color: green; /* default button background color */
  --submit-button-hover-color: darkgreen;
  --add-button-blue-color: #0077cc;
  --hover-dropdown-option: #007bff;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --conflict-hover-color: #4a5097;
  --dropdown-blue-color: rgb(76, 118, 255);
  --splinner-blue-color: rgba(0, 38, 255, 0.352);
  --loading-background-color: rgba(133, 133, 133, 0.441);
  --remove-item-hover: #383f475d;
  --selected-item-text-color: #FFFFFF;
  --red-border-color: rgb(201, 0, 0);
  --red-background-color: rgb(255, 78, 78);
  --purple-background-color: #d28cd2;
}

body {
  background-color: var(--background-color);
}


.header {
  height: 65px;
  background-color: var(--header-background-color);
  display: flex;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-title {
  width: 40%;
  min-width: 325px;
  font-size: 36px;
  color: var(--white-text-color);
  font-weight: bold;
}

.university-title {
  width: 30%;
  font-size: 20px;
  color: var(--white-text-color);
  font-weight: bold;
}

.profile-section {
  width: 30%;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.profile-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-name {
  font-size: 18px;
  color: var(--white-text-color);
}

.dark-mode-toggle {
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  width: 50px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--background-color);
  cursor: pointer;
}

.toggle-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: var(--header-background-color);
  transition: transform 0.2s;
}

.dark-text-container,
.light-text-container {
  width: 60px;
}

.dark-text,
.light-text {
  font-size: 14px;
  color: var(--white-text-color);
  font-weight: bold;
}

.dark-text {
  display: none;
  margin-left: 5px;
}

.dark-mode-container {
  display: flex;
  width: 150px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

.toggle-slider-on {
  transform: translate(21px, -50%);
}

/* .dark-mode-toggle.dark .toggle-slider {
  transform: translate(21px, -50%);
  transition: transform 0.2s;
} */



/*## Term, Major, and Subject Search Bar ##*/
.search-container {
    background-color: var(--grey-background-color);
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--grey-border-color);
    box-shadow: 0px 5px 15px var(--box-shadow-color);
}

/**/
select:focus {
  outline: none;
}

.select-wrapper {
  position: relative;
}

.dropdown-wrapper {
  background-color: var(--grey-background-color);
  position: static;
  left: 0;
  z-index: 5;
}



#subject-dropdown,
#major-dropdown,
#instructor-dropdown,
#room-dropdown,
#bldg-dropdown,
#subj-dropdown,
#crs-dropdown {
  background-color: var(--background-color);
  color: var(--black-text-color);
  display: none;
  position: sticky;
  font-size: 16px;
  height: 150px;
  width: 100%;
}

  /* Use this if you want the dropdowns to float
#subject-dropdown,
#major-dropdown,
#instructor-dropdown,
#room-dropdown,
#bldg-dropdown {
  display: none;
  position: absolute;
  font-size: 16px;
  height: 150px;
  width: 100%;
  z-index: 999;
}  */

.dropdown option:hover {
  background-color: var(--hover-dropdown-option);
  color: var(--white-text-color);
}

.select-wrapper.open .dropdown-wrapper {
  display: block;
}

/**/
.select-wrapper-term {
    position: relative;
    margin: 0 20px;
    width: 10%;
    min-width: 90px;
  }


.select-wrapper {
    position: relative;
    margin: 0 20px;
    width: 25%;
}

select.dropdown-toggle {
    display: block;
    width: 100%;
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 2px;
    border: none;
    color: var(--black-text-color);
    background-color: var(--background-color);
    appearance: none;
    -webkit-appearance: none;
    z-index: 1; /* Ensure select box is above the arrow */
    border: 2px solid var(--grey-border-color);
    box-shadow: 0px 5px 15px var(--box-shadow-color);
}

#major-dropdown-toggle,
#subject-dropdown-toggle,
#instructor-dropdown-toggle,
#room-dropdown-toggle,
#bldg-dropdown-toggle,
#subj-dropdown-toggle,
#crs-dropdown-toggle {
  display: block;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 41.09px;
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 2px;
  border: none;
  color: var(--black-text-color);
  background-color: var(--background-color);
  appearance: none;
  -webkit-appearance: none;
  z-index: 1; /* Ensure select box is above the arrow */
  border: 2px solid var(--grey-border-color);
  box-shadow: 0px 5px 15px var(--box-shadow-color);
}

#room-dropdown-toggle,
#crs-dropdown-toggle {
  display: none;
}


  /* Dark mode colors */
body.dark #major-dropdown-toggle,
body.dark #subject-dropdown-toggle,
body.dark #instructor-dropdown-toggle,
body.dark #room-dropdown-toggle,
body.dark #bldg-dropdown-toggle,
body.dark #subj-dropdown-toggle,
body.dark #crs-dropdown-toggle   {
color: var(--white-text-color);
box-shadow: 0px 5px 15px var(--box-shadow-color);
}

select.dropdown-toggle:focus {
  outline: none;
}

.dropdown-arrow {
  position: absolute;
  top: 20px;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  border-color: var(--black-text-color) transparent transparent transparent;
  float: right;
  z-index: 0; /* Ensure arrow is below the select box */
}


.selected-item {
  display: inline-flex;
  position: relative;
  z-index: 0;
  align-items: center;
  height: 20px;
  padding: 2px 8px;
  padding-right: 10px;
  margin: 1px;
  border-radius: 20px;
  font-weight: bold;
  background-color: var(--background-color);
  color: var(--selected-item-text-color);
  border: 2px solid var(--grey-border-color);
  box-shadow: 0px 5px 15px var(--box-shadow-color);
  white-space: nowrap;
  min-width: fit-content;
}


.selected-item span {
  margin-left: 5px;
  font-size: 12px;
  text-align: left;
}
    
  
.selected-item .remove-item {
  margin-right: 0;
  margin-left: -2px;
}
  
.remove-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    left: 5px;
    height: 17px;
    border-radius: 100%;
    border: none;
    color: var(--black-text-color);
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}
  
.remove-item:hover {
    background-color: var(--remove-item-hover);
}
  
.remove-item:before {
    content: '×';
    font-weight: bold;
    font-size: 18px;
}

.search-btn {
    background-color: var(--submit-button-color);
    color: var(--white-text-color);
    padding: 10px 20px;
    height: 39.6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
  
.search-btn:hover {
    background-color: var(--submit-button-hover-color);
}

.upload-btn-wrapper {
  position: relative;
  display: inline-block;
}

.upload-btn {
  background-color: var(--submit-button-color);
  color: var(--white-text-color);
  padding: 10px 20px;
  height: 39.6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1;  
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.upload-btn:hover {
  background-color: var(--submit-button-hover-color) !important;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 2;
}

#OR {
  display: flex;
  color: var(--black-text-color);
  justify-content: center;
  font-weight: bold;
  padding: 15px;
  width: 10%;
}



.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--loading-background-color);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid var(--splinner-blue-color);
  border-radius: 50%;
  border-top-color: var(--black-text-color);
  animation: spin 0.8s ease-in-out infinite;
  margin-right: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#loading-text {
  color: var(--black-text-color);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
}

/*## Advanced Filtering ##*/

input[type="text"] {
  color: var(--black-text-color);
  border: 2px solid var(--grey-border-color);
  box-shadow: 0px 5px 15px var(--box-shadow-color);
}

.filtering-container {
    background-color: var(--grey-background-color);
    position: relative;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 2px solid var(--grey-border-color);
    box-shadow: 0px 5px 15px var(--box-shadow-color);
}

.advanced-filtering-container {
  justify-content: right;
}

#toggle-advanced-filtering {
    position: absolute;
    right: 0;
    margin-top: 10px; /* Add a margin-top */
    height: 30px;
    width: 150px;
    padding: 0 15px;
    margin-top: 0px;
    background-color: var(--grey-background-color);
    border-radius: 0 0 15px 15px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 2px solid var(--grey-border-color);
    border-width: 0px 2px 2px 2px;
    box-shadow: 0px 5px 15px var(--box-shadow-color);
  }

  .advanced-filtering-text {
    margin-top: 8px; /* adjust the value as needed */
  }
  
  #toggle-advanced-filtering {
    position: absolute;
    color: var(--black-text-color);
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
  }
  
  #toggle-advanced-filtering:hover {
    color: var(--dropdown-blue-color);
  }
  .toggle-advanced-filtering-indent:hover .filter-dropdown-arrow {
    border-top-color: var(--dropdown-blue-color); /* change the color to your desired hover color */
  }
  
  .filter-dropdown-arrow {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: 8px solid transparent;
    border-top-color: var(--black-text-color);
    border-bottom-width: 0;
    transition: transform 0.2s ease-in-out;
  }
  
  .filter-dropdown-arrow.active {
    transform: translateY(-50%) rotateX(180deg);
  }  
  
  #advanced-filtering-content {
    display: none;
  }
  
input {
    display: block;
    width: 100%;
    padding: 10px;
    height: 15px;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-right: 10px;
    border: none;
    background-color: var(--background-color);
    appearance: none;
    -webkit-appearance: none;
}
  
input:focus {
    outline: none;
}

/* Add Button */
.add-button {
    align-items: center;
    top: 30px;
    display: flex;
    padding: 0px 20px;
    border: 2px solid var(--add-button-blue-color);
    border-radius: 20px;
    background-color: var(--background-color);
    height: 30px;
    color: var(--add-button-blue-color);
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.add-button:hover {
    background-color: var(--add-button-blue-color);
    color: var(--white-text-color);
  }

/* Individual Class Conflict */
.individual-class-conflicts {
    position: relative;
    padding: 5px;
    margin: 0px;
}

.individual-class-conflict-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* Class Range Conflict */

.range-class-conflicts {
    position: relative;
    padding: 5px;
    margin: 0px;
    margin-top: 0 !important;
}

.range-class-conflict-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* Hide Subjects and Classes */

.hide-container {
    position: relative;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}
    
.hide-subjects, .hide-classes {
    position: relative;
    padding: 5px;
    margin: 0px;
    width: 50%;
    box-sizing: border-box;
}

/* Hide Subjects */
.hide-subjects {
    padding-right: 10px;
}

.hide-subject-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* Hide Classes */

.hide-class-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* Ignore Subjects and Classes */

.ignore-container {
    position: relative;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}
    
.ignore-subjects, .ignore-classes {
    position: relative;
    padding: 5px;
    margin: 0px;
    width: 50%;
    box-sizing: border-box;
}

/* Ignore Subjects */

.ignore-subjects {
    padding-right: 10px;
}

.ignore-subject-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* Ignore Classes */

.ignore-class-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* instructors */
#instructor-dropdown,
#room-dropdown,
#bldg-dropdown,
#subj-dropdown,
#crs-dropdown {
  font-size: 14px;
}
#instructor-dropdown-toggle,
#room-dropdown-toggle,
#bldg-dropdown-toggle,
#subj-dropdown-toggle,
#crs-dropdown-toggle {
  height: 35px;
  padding: 0px;
  padding-left: 10px;;
  font-size: 12px;
  color: var(--grey-text-color);
}
#instructor-dropdown-arrow,
#room-dropdown-arrow,
#bldg-dropdown-arrow,
#subj-dropdown-arrow,
#crs-dropdown-arrow {
  top: 17px;
  right: 20px;

}

#room-dropdown,
#crs-dropdown {
  margin-top: 37px;
}

#instructor-select-wrapper,
#bldg-room-select-wrapper,
#subj-crs-select-wrapper {
  width: 98%;
  position: relative;
  padding: 5px;
  padding-right: 0px;
  margin: 0px;
}

#bldg-room-select-wrapper,
#subj-crs-select-wrapper {
  display: flex;
  padding: 5px;
  padding-right: 0px;
  margin-right: 0px;

}
#bldg-room-select-header,
#subj-crs-select-header {
  display: flex;
  height: 22px;
}
.bold {
  font-weight: bold;
}
#room-header,
#bldg-header,
#subj-header,
#crs-header {
  bottom: -10px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 5px;
}

#instructor-dropdown-toggle-wrapper,
#room-dropdown-toggle-wrapper,
#bldg-dropdown-toggle-wrapper,
#subj-dropdown-toggle-wrapper,
#crs-dropsown-toggle-wrapper {
  height: 40px;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0px;
}
#room-dropdown-toggle-wrapper,
#crs-dropdown-toggle-wrapper{
  padding-left: 5px;
  width: 25%;
}
#bldg-dropdown-toggle-wrapper,
#subj-dropdown-toggle-wrapper,
#instructor-dropdown-toggle-wrapper,
#instructor-dropdown-wrapper {
  width: 65%;
}

.filtering-schedule-conflict-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.conflict-filtering,
.schedule-filtering {
  width: 50%;
  padding: 0 20px;
  box-sizing: border-box;
}

.schedule-filtering {
  padding-left: 50px;
}
.conflict-filtering {
  padding-right: 50px;
}


@media screen and (max-width: 768px) {
  .conflict-filtering,
  .schedule-filtering {
    width: 100%;
    padding: 0;
  }
}

#advanced-filtering-content h3 {
  color: var(--black-text-color);
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 5px;
}
  
#advanced-filtering-content label {
    display: inline-block;
    width: 100px;
}

#advanced-filtering-content input[type="text"] {
    display: block;
}

.apply-filter-container {
  display: flex;
  justify-content: flex-end;
}


#apply-filter {
  background-color: var(--submit-button-color);
  color: var(--white-text-color);
  margin: 20px;
  padding: 10px 20px;
  width: 75px;
  margin-bottom: 15px;
  height: 39.6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
}

#apply-filter:hover {
    background-color: var(--submit-button-hover-color);
}

#clear-filter {
  background-color: var(--background-color);
  color: var(--submit-button-color);
  margin: 20px;
  padding: 10px 20px;
  width: 75px;
  margin-bottom: 15px;
  height: 39.6px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--submit-button-color);
  cursor: pointer;
  font-size: 14px;
  position: relative;
}

#clear-filter:hover {
  background-color: var(--lightgrey-background-color);
}
  
/* corequisite checkbox */
/* .corequisite-conflicts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  .corequisite-conflicts input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #0077cc;
    border-radius: 4px;
    outline: none;
    margin-right: 10px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    position: relative;
  }
  
  .corequisite-conflicts input[type="checkbox"]:checked::before {
    content: "\2714";
    color: var(--white-text-color);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .corequisite-conflicts input[type="checkbox"]:hover {
    border-color: #005ea8;
    background-color: #eee;
  }
  
  .corequisite-conflicts input[type="checkbox"]:checked {
    background-color: #0077cc;
  }
  
  .corequisite-conflicts input[type="checkbox"]:checked:hover {
    background-color: #005ea8;
  }
  
  .corequisite-conflicts label {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  } */

  /* #bldg-room-select,
  #instructor-select {
    height: 35px;
    padding: 5px 30px 5px 10px;
  } */



  /* John */

/* Grid */
.schedule-container {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 60%;
  position: relative;
  margin-top: 40px; 
  /* padding: 10px; */
  /* padding-left: 5px; */
  /* border: 2px solid var(--grey-border-color);
  border-radius: 15px;
  background-color: var(--grey-background-color); */
}

.schedule-grid {
  background-color: var(--background-color);
  border: 2px solid var(--grey-border-color);
  border-radius: 15px;
  width: 100%;
  display: grid;
  /* box-shadow: 0px 5px 15px var(--box-shadow-color); */
}

.days-row {
    display: grid;
    width: 100%;
    height: 30px;
    position: relative;
    grid-template-columns: 50px repeat(5, 1fr);
}

.grid-row {
    display: grid;
    grid-template-columns: 50px repeat(5, 1fr);
    grid-auto-rows: 75px;
    overflow: visible;
}

.days {
    border-left: 1px solid var(--grey-border-color);
    padding: auto;
    width: 100%;
    height: 30px;
    text-align: center;
}

.days h2{
  font-size: 16px;
  color: var(--black-text-color);
  text-align: center;
}

.blank {
    width: 50px;
    height: 30px;
}


/*work on tba box next*/
.TBA {
  display: block;
  border-left: solid 3px yellowgreen;
  border-right: solid 3px yellowgreen;
}


/*time axis*/
/* get rid of the different times, make a times column, eliminate the different times and the blank?*/
.times {
    color: var(--black-text-color);
    border-top: solid 1px #a9a9a9b4;
    font-weight: bold;
    padding-top: 2px;
    width: 100%;
    text-align: center;
}

.grid-cell  {
    position:relative;
    display: grid;
    align-items: normal;
    width: 100%;  
    border-top: solid 1px #a9a9a9b4;  
    border-left: solid 1px #a9a9a9b4;
}

.time-cell {
    display: flex;
    height: 18.55px !important;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--black-text-color);
    position: relative;
    height:fixed;
    width: 98%;
    align-items: top;
    justify-content: flex-start;
    z-index:1;
}

/*draggable course block */
.course-block {
    display:flex;
    position:relative;
    color: var(--black-text-color);
    border: 2px solid var(--grey-border-color);
    border-radius: 5px;
    background-color: var(--lightgrey-background-color);
    top:0;
    height: 15px;
    width: 5%; /*minimum width to prevent wrap*/
    z-index: 5;
    cursor: move;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.course-block.active {
  background-color: var(--conflict-hover-color);
  z-index: 999;
}  

.course-block.conflict {
  border: 2px solid var(--red-border-color);
}  

.course-block.clicked-conflict {
  background-color: var(--red-background-color);
}  

.course-block.clicked-and-active {
  background-color: var(--purple-background-color);
}  

.course-text-subj {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--black-text-color);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.course-text-crs {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--black-text-color);
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.time-cell.highlight {
    border: solid 1px rgba(128, 128, 128, 0.63) ;
}

.time-cell.text:before {
  content: attr(data-time);
  font-size: 14px;
  text-align: left;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--black-text-color);
}

.conlict {
    border: solid 3px red;
}

.hide {
    display: none;
}

/* MAIN CONTAINER DISPLAYING */
.main-container {
  display: flex;
  justify-content: flex-end;
}

/* DISPLAYING CONFLICTS */
#conflict-container {
  overflow-y: auto; /* add a scrollbar if content overflows */
  width: 20%;
  height: 788px;
  position: relative;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 40px;
  margin-left: 15px;
  border: 2px solid var(--grey-border-color);
  border-radius: 15px;
  background-color: var(--grey-background-color);
  /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); */
}


h2 {
  color: var(--black-text-color);
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: 10px;
}

#conflict-container h2 {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--black-text-color);
  text-align: center;
  position: sticky; /* make the header sticky */
}

#conflict-header {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--black-text-color);
  text-align: center;
  position: sticky; /* make the header sticky */
  top: 0; /* position the header at the top */
  background-color: var(--grey-background-color);
  padding: 10px;
}

.conflict-item {
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid var(--grey-border-color);
  background-color: var(--background-color);
  box-shadow: 0px 5px 15px var(--box-shadow-color);
}

.conflict-item:hover {
  background-color: var(--conflict-hover-color);
  color: var(--white-text-color);
  transition: background-color 0.2s, color 0.2s;
}

.conflict-item.clicked-conflict {
  border: 2px solid var(--red-border-color);
}


.conflict-courses {
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  text-overflow: ellipsis;
  font-size: .95em;
  color: var(--black-text-color);
}

.course1-sec {
  font-size: 0.8em;
  color: var(--grey-text-color);
}

.course2-sec {
  font-size: 0.85em;
  color: var(--grey-text-color);
}

.conflict-message {
  color: var(--black-text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: .95em;
}




/* Temporary Conflict Message Box */

#temp-conflict-box {
  display: none;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 800px;
  right: -175px;
  padding: 20px;
  z-index: 10;
  border-radius: 15px;
  background-color: var(--background-color);
  border: 2px solid var(--grey-border-color);
  box-shadow: 0px 10px 30px var(--box-shadow-color);
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .invisible-button {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    border: var(--add-button-blue-color);
    opacity: 50;
    cursor: pointer;
  }

  #invisible-button-left {
    left: 0;
  }

  #invisible-button-right {
    right: 0;
  }

  #temp-conflict-box .col-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  #temp-conflict-box .col {
  width: 48%;
  margin-bottom: 10px;
  }
  
  #temp-conflict-box .col h4 {
  margin: 0;
  font-size: 1em;
  font-weight: bold;
  color: var(--black-text-color);
  }
  
  #temp-conflict-box .col p {
  margin: 0;
  font-size: 0.9em;
  color: var(--grey-text-color);
  }
  
  #temp-conflict-box .conflict-message {
  margin-top: 10px;
  font-size: 0.95em;
  color: var(--black-text-color);
  }

  #conflict-container::-webkit-scrollbar {
    width: 10px;
  }
  
  #conflict-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  #conflict-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  #conflict-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



  /* DISPLAYING CONFLICTS */
.main-container-left-column {
  margin-right: 15px;
  width: 20%;
  height: 783px;
  position: relative;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 40px;
  margin-left: 15px;
}

/* Edit Box */
.edit-box {
  width: 100%;
  position: relative;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid var(--grey-border-color);
  border-radius: 15px;
  margin-right: 15px;
  background-color: var(--grey-background-color);
  height: 322px; 
  /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); */
}

.flash-border {
  animation: flash-border 1s;
}

@keyframes flash-border {
  0% {
    border-color: var(--grey-border-color);
    box-shadow: 0px 0px 0px rgba(255, 0, 0, 0);
  }
  50% {
    border-color: red;
    box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.7);
  }
  100% {
    border-color: var(--grey-border-color);
    box-shadow: 0px 0px 0px rgba(255, 0, 0, 0);
  }
}

.edit-box-header {
  color: var(--black-text-color);
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.edit-box-course-information {
  margin: 10px;
}

.edit-box-course-information span {
  color: var(--black-text-color);
  font-weight: bold;
  display: block !important;
}

.edit-box-content {
  color: var(--black-text-color);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.form-group-left-column {
  width: 40%;
  margin-left: 5px;
}

.form-group-right-column {
  width: 40%;
  margin-right: 18px;
}

.form-group {
  color: var(--black-text-color);
  margin: 7px; 
}
#instructor, 
#days,
#start-time,
#end-time,
#building,
#room {
  padding: 5px;
  border: 2px solid var(--grey-border-color);
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;
}


.save-course-info-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}


.save-course-info-button {
  background-color: var(--submit-button-color);
  color: var(--white-text-color);
  height: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.save-course-info-button:hover {
  background-color: var(--submit-button-hover-color);
}


.clear-course-info-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}


.clear-course-info-button {
  margin-right: 15px;
  background-color: var(--background-color);
  color: var(--submit-button-color);
  height: 25px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--submit-button-color);
  cursor: pointer;
  font-size: 12px;
}


.clear-course-info-button:hover {
  background-color: var(--lightgrey-background-color);
}


.invalid-input {
  outline: 2px solid red;
}

.change-log-button-container {
  display: flex;
  justify-content: flex-end;
}

#change-log-button {
  margin-top: 10px;
  background-color: var(--submit-button-color);
  color: var(--white-text-color);
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

#change-log-button:hover {
  background-color: var(--submit-button-hover-color);
}

/* Edit Box */
.staging-container {
  width: 100%;
  margin-top: 10px;
  position: relative;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid var(--grey-border-color);
  border-radius: 15px;
  margin-right: 15px;
  height: 452px;
  background-color: var(--grey-background-color);
  /* box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); */
}

.staging-header {
  display: flex;
  justify-content: center;
}

.add-course-container {
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 30px;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid var(--grey-border-color);
  background-color: var(--background-color);
  box-shadow: 0px 5px 15px var(--box-shadow-color);
  display: flex;
  justify-content: center;
  line-height: 30px;
}

.add-course-container:hover {
  background-color: var(--conflict-hover-color);
  color: var(--white-text-color);
  transition: background-color 0.2s, color 0.2s;
}

.add-course-text {
  color: var(--black-text-color);
  font-size: 14px;
  width: 70%;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.add-icon {
  color: var(--add-button-blue-color);
  font-size: 30px;
  width: 30%;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.unscheduled-courses{
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid var(--grey-border-color);
  background-color: var(--background-color);
  box-shadow: 0px 5px 15px var(--box-shadow-color);
}

.unscheduled-courses:hover {
  background-color: var(--conflict-hover-color);
  color: var(--white-text-color);
  transition: background-color 0.2s, color 0.2s;
}

.course-subj-crs-sec {
  font-weight: bold;
  color: var(--black-text-color);
}

.course-title {
  color: var(--black-text-color);
}

.course-crn {
  color: var(--black-text-color);
}


.add-box-container {
  display: none;
  z-index: 999;
  position: absolute;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--black-text-color);
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 10px;
  max-height: 40%;
  width: 300px;
  overflow-y: auto;
  text-align: justify;
  border-radius: 10px;
  border: 2px solid var(--grey-border-color);
  box-shadow: 0px 5px 15px var(--box-shadow-color);
}

.add-box-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.add-box-text {
  font-weight: bold;
  color: var(--black-text-color);
}

.form-group-row{
  display: flex;
}

.add-course-close-button {
  z-index: 9999;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: none;
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--black-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  padding: 0;
}

.add-course-close-button:hover {
  z-index: 9999;
  background-color: var(--grey-background-color);
  cursor: pointer;
}


.add-course-close-button::before,
.add-course-close-button::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: var(--black-text-color);
}

.add-course-close-button::before {
  transform: rotate(45deg);
}

.add-course-close-button::after {
  transform: rotate(-45deg);
}
  

.button-row {
  display: flex;
  justify-content: flex-end;
}

.add-course-button {
  background-color: var(--submit-button-color);
  color: var(--white-text-color);
  height: 25px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.add-course-button:hover {
  background-color: var(--submit-button-hover-color);
}


/* Style for the online course section */

.online-courses {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 50px;
  background-color: var(--grey-background-color);
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  border-top: 2px solid var(--grey-border-color);
  box-shadow: 0px 5px 15px var(--box-shadow-color);
}

.online-courses.show {
  max-height: 1000px; /* adjust the height to fit all the course tiles */
}

/* Style for the course tiles container */
.course-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* align tiles to the left */
  align-items: flex-start;
  padding: 10px;
}

/* Style for the course tile */
.course-tile {
  color: var(--black-text-color);
  width: calc(16.66% - 15px);
  margin: 7.5px;
  border-radius: 15px;
  background-color: var(--background-color);
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid var(--grey-border-color);
  box-shadow: 0px 5px 15px var(--box-shadow-color);
}

/* Style for the course tile elements */
.course-tile p {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.course-tile p:first-child {
  font-weight: bold;
}

/* Style for the online course section header */
/* .online-courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grey-background-color);
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
} */

#toggle-online-courses-indent {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  height: 40px;
  width: 220px;
  margin-top: 10px;
  padding-left: 20px;
  background-color: var(--grey-background-color);
  border-radius: 15px 15px 0px 0px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 2px solid var(--grey-border-color);
  border-width: 2px 2px 0px 2px;
  /* box-shadow: 15px 5px 0px var(--box-shadow-color); */
}

#toggle-online-courses-indent-text {
  position: absolute;
  top: 15px;
  color: var(--black-text-color);
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

#toggle-online-courses-indent {
  position: absolute;
  color: var(--black-text-color);
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

#toggle-online-courses-indent:hover {
  color: var(--dropdown-blue-color);
}
#toggle-online-courses-indent:hover .filter-dropdown-arrow {
  border-top-color: var(--dropdown-blue-color); /* change the color to your desired hover color */
}

.online-courses-dropdown-arrow {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotateX(180deg);
  border: 8px solid transparent;
  border-top-color: var(--black-text-color);
  border-bottom-width: 0;
  transition: transform 0.2s ease-in-out;
}

.online-courses-dropdown-arrow.active {
  transform: translateY(-50%) rotateX(0deg);
}  

/* Footer */

.footer {
  background-color: var(--header-background-color);
  color: var(--white-text-color);
  display:flex;
  font-family: "Montserrat", sans-serif;
  justify-content: space-between;
  padding: 20px;
}

#footer-left-column{
  width: 65%;
}

.about-us {
  display: flex;
  align-items: center;
}

#about-us-text{
  color: var(--white-text-color);
  font-size: 20px;
  margin-left: 0px;

}

.license-container {
  color: var(--white-text-color);
  margin-right: 20px;
}

.license-text {
  width: 100%;
  font-size: 16px;
  color: var(--white-text-color);
  font-weight: bold;
}

#license {
  color: white !important;
}

#terms-and-conditions{
  color: white !important;
  font-weight: bold;
}


#email-link {
  color: white !important;
}

#footer-right-column{
  margin-left: 50px;
  vertical-align: top;
  width: 35%;
}

#our-team-container {
  color: var(--white-text-color);
  font-size: 20px;
  font-weight: bold;
}

#our-team-text{
  color: var(--white-text-color);
  font-size: 20px;
  margin-left: 0px;
}

#github-image {
  height: 20px;
  width: 20px;
  margin-left: 20px;
}

.team-member {
  display:flex;
  align-items: center; /* centers child elements vertically */
  height: 32px;
}

#member-name {
  color: var(--white-text-color);
  font-size: 16px;
  width: 195px;
}

.terms-link {
  margin-top: 10px;
  display: inline-block;
  margin-right: 10px;
}

.terms-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.terms-header {
  margin: 0px;
  font-size: 16px;
}

.term-content {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.terms-content {
  position: absolute;
  color: var(--black-text-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  padding: 40px;
  max-height: 90%;
  overflow-y: auto;
  text-align: justify;
  border-radius: 10px;
}

.terms-box .terms-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 99999;
}

.terms-close button {
  width: 25px;
  height: 25px;
  border: none; /* Remove the border */
  border-radius: 50%;
  background-color: var(--background-color);
  color: var(--black-text-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  padding: 0;
}

.terms-close button:hover {
  background-color: var(--grey-background-color);
  cursor: pointer;
}

.terms-close button::before,
.terms-close button::after {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 16px;
  top: 7px;
  left: 12px;
  background-color: var(--black-text-color);
}

.terms-close button::before {
  transform: rotate(45deg);
}

.terms-close button::after {
  transform: rotate(-45deg);
}


@media screen and (max-width: 768px) {
  .terms-box .terms-content {
    max-height: 100%;
    overflow-y: scroll;
  }
}
