/*TODO: 

Grid:
-time axis, shadow border
-may be able to fill grid as some kind of repeat or nested for loop 
-course objects import from csv
    -use day/time as a relative x/y position, this may need an invisible table over the grid or grid 
     label redesign?        
-course objects z-index to have objects above grid to show continous time
-draggable objects
    -create
-add updatable metadata for object positioning on drag to be able to adjust day/time info for export

Conflict detect:
(color maninpulation to see what makes the most sense
-change color of each occurrence (yellow) automatically on import
-selection of conflict in box, keep base class yellow, change conflicted class to red

*/


  
/*## Term, Major, and Subject Search Bar ##*/

.search-container {
    background-color: #dfdfdf;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px;
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
}
  
.select-wrapper {
    position: relative;
    margin: 0 20px;
}
  
select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 2px;
    border: none;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
}
    
  
select:focus {
    outline: none;
}

.selected-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid #383f47;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}
  
.selected-item {
    display: flex;
    align-items: center;
    height: 20px;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #383f47;
    border: 1.5px solid #383f47;
}

.selected-item span {
    margin-left: 5px;
    font-size: 12px;
    text-align: left;
}
  
.selected-item .remove-item {
  margin-right: 0;
  margin-left: 2px;
}
  
.remove-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    border-radius: 100%;
    border: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}
  
.remove-item:hover {
    background-color: #383f475d;
}
  
.remove-item:before {
    content: '×';
    font-weight: bold;
    font-size: 18px;
}

.search-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    height: 39.6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
  
.search-btn:hover {
    background-color: darkgreen;
}

/*## Advanced Filtering ##*/

.filtering-container {
    background-color: #dfdfdf;
    position: relative;

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#toggle-advanced-filtering {
    position: absolute;
    top: -15px;
    right: 65px;
    transform: translate(50%, -50%);
    background-color: transparent;
    color: rgb(0, 60, 255);
    border: none;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
}
  
#toggle-advanced-filtering:hover {
    color: rgb(0, 33, 144);
}
  
input {
    display: block;
    width: 100%;
    padding: 10px;
    height: 15px;
    font-size: 12px;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-right: 10px;
    border: none;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
}
  
input:focus {
    outline: none;
}

/* Add Button */
.add-button {
    align-items: center;
    display: flex;
    padding: 0px 20px;
    border: 2px solid #0077cc;
    border-radius: 20px;
    background-color: #ffffff;
    height: 30px;
    color: #0077cc;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
  
.add-button:hover {
    background-color: #0077cc;
    color: #ffffff;
}

/* Individual Class Conflict */
.individual-class-conflicts {
    height: 75px;
}

.individual-class-conflict-selection {
    display: flex;
    align-items: left;
    justify-content: center;
    height: 40px;
}

/* Class Range Conflict */

.range-class-conflicts {
    height: 75px;
}

.range-class-conflict-selection {
    display: flex;
    align-items: left;
    justify-content: center;
    height: 40px;
}

/* Hide Subjects and Classes */

.hide-container {
    height: 75px;
    display: flex;
    flex-wrap: wrap;
}
    
.hide-subjects, .hide-classes {
    height: 75px;
    width: 50%;
    box-sizing: border-box;
}

/* Hide Subjects */
.hide-subjects {
    padding-right: 10px;
}

.hide-subject-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* Hide Classes */

.hide-class-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* Ignore Subjects and Classes */

.ignore-container {
    height: 75px;
    display: flex;
    flex-wrap: wrap;
}
    
.ignore-subjects, .ignore-classes {
    width: 50%;
    box-sizing: border-box;
}

/* Ignore Subjects */

.ignore-subjects {
    padding-right: 10px;
}

.ignore-subject-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

/* Ignore Classes */

.ignore-class-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}


#advanced-filtering-content {
    background-color: #dfdfdf;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px;
    display: flex;
    width: 75%;
    justify-content: center;
    margin: 0px
}
  
#advanced-filtering-content h3 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 5px;
}
  
#advanced-filtering-content div {
    margin-top: 0px;
}
  
#advanced-filtering-content label {
    display: inline-block;
    width: 100px;
}

#advanced-filtering-content input[type="text"] {
    display: block;
}
  
#advanced-filtering-content button {
    margin-top: 10px;
}
  
#advanced-filtering-content button:last-of-type {
    margin-bottom: 20px;
}
  
#apply-filter {
    background-color: green;
    color: white;
    padding: 10px 20px;
    height: 39.6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
  
#apply-filter:hover {
    background-color: darkgreen;
}
  
#advanced-filtering-content .error {
    color: #dc3545;
    margin-top: 5px;
}

/* corequisite checkbox */
.corequisite-conflicts {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  .corequisite-conflicts input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #0077cc;
    border-radius: 4px;
    outline: none;
    margin-right: 10px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    position: relative;
  }
  
  .corequisite-conflicts input[type="checkbox"]:checked::before {
    content: "\2714";
    color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .corequisite-conflicts input[type="checkbox"]:hover {
    border-color: #005ea8;
    background-color: #eee;
  }
  
  .corequisite-conflicts input[type="checkbox"]:checked {
    background-color: #0077cc;
  }
  
  .corequisite-conflicts input[type="checkbox"]:checked:hover {
    background-color: #005ea8;
  }
  
  .corequisite-conflicts label {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* John */

  /* Grid */
.schedule-container {
    display: grid;
    gap: none;
    grid-template-columns: repeat(9);
    grid-template-rows: 100px reapeat(10, 150px);
    justify-items: sretch;
    position: absolute;
    top: 150px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.days {
    border: solid 1px #a9a9a9b4;
    padding: auto;
    width: 150px;
    height: 30px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
    text-align: auto;
}

.blank {
    border: none;
    width: 150px;
    height: 30px;
}

.blank-right {
    width: 10px;
}
/*conflict box, may expand width*/

.conflict-header {
    grid-column: 10;
    grid-row: 1;
    text-align: center;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px 10px 0px 0px;
    width:200px;
    background-color: white;
}
.conflict-box{
    grid-column: 10;
    grid-row: 2 / 5;
    background-color: green;
    color:white;
    border: solid 1px rgba(0, 0, 0, 0.4);
    border-radius: 0px 0px 10px 10px;
    width: 200px;
}

/*time axis*/

.slot8a {
    border-top: solid 2px #a9a9a9b4;
    border-right: solid 2px #a9a9a9b4;
    border-left: solid 2px #a9a9a9b4;
    border-radius: 10px 0px 0px 0px;
    padding: 30px 20px 30px 20px;
    text-align: center;
    box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.times {
    border-right: solid 2px #a9a9a9b4;
    border-left: solid 2px #a9a9a9b4;
    padding: 30px 12px 30px 20px;
    width: auto;
    text-align: center;
    box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.slot6p {
    border-right: solid 2px #a9a9a9b4;
    border-left: solid 2px #a9a9a9b4;
    border-bottom: solid 2px #a9a9a9b4;
    border-radius: 0px 0px 0px 10px;
    padding: 30px 19px 30px 20px;
    text-align: center;
    box-shadow: -1px 0px 1px 0px rgba(0, 0, 0, 0.4);
}

.gridCell  {
    display: block;
    align-items: normal;    
    border: solid 1px #a9a9a9b4;
}

.timeCell {
    height:25px;
    width:100%;
    align-items: top;
    z-index:0;
}

/*draggable course block */
.course-block {
    border: solid 1px black;
    height: 100px;
    width: 100px;
    z-index: 1;
}

.drag-over {
    border-top: solid 3px blue;
}

.hide {
    display: none;
}